flask==1.1.2
jupyter==1.0.0
requests==2.23.0
numpy==1.18.5
pytest==5.4.3
pytest-repeat==0.8.0
kubetest==0.8.1
kubernetes==11.0.0

rsa>=4.1 # not directly required, pinned by Snyk to avoid a vulnerability