name: Lint and CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/python@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - run: pip install tox
    - run: tox -e lint
    - run: tox -e test
