name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Minikube
      uses: manusa/actions-setup-minikube@v1.0.2
      with:
        minikube version: 'v1.9.2'
        kubernetes version: 'v1.18.2'
    - name: Interact with the cluster
      run: |
        export KUBECONFIG=$KUBECONFIG:$HOME/.kube/config
        kubectl cluster-info
        ls -la ~/.kube
        cat ~/.kube/config
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - run: |
        python -m pip install --upgrade pip
        pip install tox
        tox -e lint
        tox -e test
